.adminBar {
  display: flex;
  height: 80px;
  width: calc(480px * 3);
  margin: auto;

  &-button {
    background-color: #8c6493;
    width: 33%;
    border: #fff 1px solid;

    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #f5f5f5;

    cursor: pointer;

    &:hover {
      background-color: #6c4473;
    }

    &-active {
      background-color: #4c3453 !important;
      cursor: auto;
    }
  }
}
