.paymentLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &-left {
    width: 100%;
  }

  &-right {
    width: calc(100% - 100px);
    background-color: #cbcbcb;
    padding: 0 50px;

    &-item {
      display: flex;
      margin: 20px 0;
      &-image {
        width: 156px;
        border: 1px solid #ffd700;
      }
      &-text {
        margin-left: 15px;
      }
    }

    &-discount {
      height: 80px;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      display: flex;
      align-items: center;

      &-form {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-input {
          /* Input field */

          box-sizing: border-box;

          /* Auto layout */
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 13.5px 12px;
          gap: 7.5px;

          width: 60%;
          height: 42px;

          /* inputfiled light */
          background: rgba(34, 34, 34, 0.1);
          border: 0.75px solid #d8dadc;
          backdrop-filter: blur(5.25px);
          /* Note: backdrop-filter has minimal browser support */
          border-radius: 7.5px;

          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          text-align: left;

          &-actual {
            all: unset;
          }
        }

        &-button {
          background: #4d4d4d;
          width: 30%;
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;

          color: #f5f5f5;

          &:hover {
            background: #2d2d2d;
          }
        }
      }
    }

    &-total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-text {
        width: 50%;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: left;
        color: #4d4d4d;

        &-right {
            text-align: right;
        }
      }
    }
  }
}
