@import "./consts";
@import "./header";
@import "./footer";
@import "./items";
@import "./auth";
@import "./account";
@import "./productsPage";
@import "./product";
@import "./cart";

body {
    margin: 0;
    padding: 0;
    background: $whiteish;
    overflow-x: hidden;
}
